/* sidebar.css */
.sidebar {
  height: 100vh;
  padding: 10px;
  background-color: #343a40}

.sidebar .nav-link {
  color: #adb5bd;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link:hover {
  background-color: #495057;
  color: #fff;
}

.sidebar .logout-link {
  color: #f8d7da;
}

.sidebar .logout-link:hover {
  background-color: #dc3545;
  color: #fff;
}

@media (max-width: 767px) {
  .sidebar {
    transform: translateX(100%); /* Hide sidebar off the screen */
  }
}

.sidebar-open {
  transform: translateX(0); /* Show sidebar when toggled */
}
